<div class="well well-sm">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <a href="#" class="thumbnail m-b-0" style="max-width:80px">
          <img src="https://avatars2.githubusercontent.com/u/5304816?v=4" alt="Gabriel Papke">
        </a>
      </div>
      <div class="col-xs-8">
        <h3>Gabriel Papke</h3>
      </div> 
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>
      Repositórios 
      <!-- <span class="small"><a href="#" class="glyphicon glyphicon-sort-by-attributes"></a></span> -->
      <span class="small"><a href="#" class="glyphicon glyphicon-sort-by-attributes-alt"></a></span>
    </h2>
    <div class="list-group">
      <a [routerLink]="['/repos/detail/', 'angular']" class="list-group-item clearfix">
          Dapibus ac facilisis in
          <span class="pull-right">
            <span class="badge"><small class="glyphicon glyphicon-star"></small> 10</span>
            <span class="btn btn-xs btn-primary">ver detalhes</span>
          </span>
      </a>
      <a [routerLink]="['/repos/detail/', 'angular']" class="list-group-item clearfix">
          Dapibus ac facilisis in
          <span class="pull-right">
            <span class="badge"><small class="glyphicon glyphicon-star"></small> 10</span>
            <span class="btn btn-xs btn-primary">ver detalhes</span>
          </span>
      </a>
      <a [routerLink]="['/repos/detail/', 'angular']" class="list-group-item clearfix">
          Dapibus ac facilisis in
          <span class="pull-right">
            <span class="badge"><small class="glyphicon glyphicon-star"></small> 10</span>
            <span class="btn btn-xs btn-primary">ver detalhes</span>
          </span>
      </a>
      <a [routerLink]="['/repos/detail/', 'angular']" class="list-group-item clearfix">
          Dapibus ac facilisis in
          <span class="pull-right">
            <span class="badge"><small class="glyphicon glyphicon-star"></small> 10</span>
            <span class="btn btn-xs btn-primary">ver detalhes</span>
          </span>
      </a>
    </div>
  </div>
</div>