<div class="well well-lg">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <a *ngIf="user.avatar_url"class="thumbnail m-b-0">
        <img [src]="user.avatar_url" [alt]="user.name">
      </a>
    </div>
    <div class="col-xs-9">
      <h3>{{user.name}}</h3>
      <h4 *ngIf="user.email"><small>{{user.email}}</small></h4>
      <button class="btn btn-default" type="button">
        Seguindo <span class="badge">{{user.following}}</span>
      </button>
      <button class="btn btn-default" type="button">
        Seguidores <span class="badge">{{user.followers}}</span>
      </button>
      <p class="m-t-10">{{user.bio}}</p>
      <p><a class="btn btn-primary btn-lg" [routerLink]="['/repos', user.login]" role="button">Ver repositórios</a></p>
    </div> 
  </div>
</div>