<div class="row clearfix">
  <div class="col-xs-12">
    <div class="pull-left" style="padding-right: 12px;">
        <button (click)="goBack()" type="button" class="btn btn-lg btn-default navbar-btn pull-left">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </div>
    <h3>Voltar</h3>
  </div>
</div>


<div class="well well-xs">  
    <h3>Angular 
      <span class="label label-default"><span class="glyphicon glyphicon-star star-label"></span> 10</span>
      <span class="label label-default">TypeScript</span>            
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis voluptates fuga sint placeat culpa vero ratione, provident minima assumenda voluptate numquam fugit at delectus voluptatem inventore sit, ex quae!</p>
    
    <a class="btn btn-primary" href="https://github.com/gabrielpapke/angular" target="_blank">
      <i class="glyphicon glyphicon-link"></i>
      Accesar
    </a>
</div>